# This formula requires an SDB store that is common to all boxes. Initialization
# of the hadoop cluster requires dynamic configuration and requires each node
# the cluster to know where the managers are. These values are kept in SDB. 
#
# The following pillar configures a Zookeeper SDB store and the Salt mine via
# the Salt formula.
# https://github.com/saltstack-formulas/salt-formula
salt:
  minion:

    # Configure a Zookeeper SDB interface to store NameNode and ResourceManager
    # connection strings
    hadoop:
      driver: zookeeper
      hosts:
        - 10.0.1.3

    # Target the NameNode and ResourceManager by internal IP
    mine_functions:
      internal_ip:
        mine_function: 'network.interface_ip'
        iface: 'eth0'

# Hadoop settings
hadoop:
  version: 3.0.0
  target: 'if101*'
  target_type: 'glob'

  # Specify a mine function which defines the connection string for the
  # NameNode and ResourceManager
  target_function: 'internal_ip'

  hdfs:
    name_node:

      # The following configuration parameters are part of hdfs-site.xml on the
      # NameNode
      config:

        # The NameNode trys to perform a reverse DNS lookup of DataNodes and
        # treats failure as fatal by default
        dfs.namenode.datanode.registration.ip-hostname-check: 'false'
