[Unit]
Description=Hadoop Distributed Filesystem DataNode Service
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/hdfs_data_node
User={{ user }}
Group={{ group }}

TimeoutStopSec=10
Restart=always
RestartSec=2

ExecStart=/opt/hadoop/bin/hdfs --config /etc/hadoop --daemon start datanode
ExecStop=/opt/hadoop/bin/hdfs --config /etc/hadoop --daemon stop datanode
