[Unit]
Description=Hadoop YARN ResourceManager Service
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/yarn_resource_manager
User={{ user }}
Group={{ group }}

TimeoutStopSec=10
Restart=always
RestartSec=2

ExecStart=/opt/hadoop/bin/yarn --config /etc/hadoop --daemon start resourcemanager
ExecStop=/opt/hadoop/bin/yarn --config /etc/hadoop --daemon stop resourcemanager
