[Unit]
Description=Hadoop YARN NodeManager Service
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/yarn_node_manager
User={{ user }}
Group={{ group }}

TimeoutStopSec=10
Restart=always
RestartSec=2

ExecStart=/opt/hadoop/bin/yarn --config /etc/hadoop nodemanager
